<aside>
	<div class="nav-overlay"></div>

	<nav>
		<div class="logo">
			<svg width="60" height="60" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
				<!-- Квадрат с темным фоном -->
				<rect x="1" y="1" width="28" height="28" rx="4" ry="4" fill="#222" stroke="#fff"
					stroke-width="2" stroke-linejoin="miter" />
				<!-- Логотип MD с светлой обводкой -->
				<g style="transform: translateX(1.5px);" fill="none" stroke="#fff" stroke-width="2"
					stroke-linecap="round" stroke-linejoin="round">
					<!-- Буква M -->
					<path d="M5,22 L5,8 L10,16 L15,8 L15,22" />

					<!-- Буква D, правая палка M = левая стенка D -->
					<path d="M15,8 
							L15,22 
							C15,22 23,22 23,15 
							C23,8 15,8 15,8 Z" />
				</g>
			</svg>
		</div>

		<div class="nav-header">
			<button class="nav-back">
				<i class="fas fa-arrow-left"></i>
			</button>
		</div>

		<div class="nav-buttons">
			<div class="nav-indicator"></div>

			<button class="nav-button active" data-target="home"><i class="fas fa-home"></i></button>
			<button class="nav-button" data-target="about"><i class="fas fa-user"></i></button>
			<button class="nav-button" data-target="skills" title="Навыки"><i class="fas fa-wrench"></i></button>
			<button class="nav-button" data-target="portfolio" title="Портфолио"><i class="fas fa-th-large"></i></button>
			<button class="nav-button" data-target="contact"><i class="fas fa-envelope"></i></button>
		</div>
	</nav>
</aside>