<section id="contact">
	<div class="left">
		<h2 class="heading-2 fade-in">Контакты</h2>
		<ul class="social-list fade-in">
			<li><a href="mailto:gvozdb27@gmail.com">✉️ gvozdb27@gmail.com</a></li>
			<li><a href="https://t.me/makdu1">💬 Telegram</a></li>
			<li><a href="https://hh.ru/resume/d0e43871ff098babda0039ed1f616d666f7147">🔗 hh.ru</a></li>
		</ul>
		<button class="btn-main fade-in" data-open-tab="portfolio">
			<i class="fa fa-arrow-left"></i> 
			Портфолио
		</button>
	</div>


	<div class="right">
		<div class="dev-box fade-in">
			<img src="/src/img/work.png" alt="development image">
		</div>
	</div>
</section>