<section id="skills">
	<div class="left">
		<h2 class="heading-2 fade-in">Навыки</h2>
		<div class="text text-xl fade-in">
			<p>Разрабатываю сайты и&nbsp;лендинги, верстаю письма любой сложности.</p>
			<p>Любимый стек&nbsp;&mdash; Vue + Vite + Blade: позволяет создавать динамичные интерфейсы и&nbsp;выстраивать удобную структуру проекта.</p>
		</div>
		<div class="skills-features fade-in">
			<div class="skills-feature-item fade-in">
				<i class="fas fa-check-circle"></i>
				<p>Создаю надежные и&nbsp;правильно работающие интерфейсы</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-bolt"></i>
				<p>Пишу современный и&nbsp;производительный код</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-lightbulb"></i>
				<p>Выбираю простой способ решения задачи</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-code"></i>
				<p>Верстаю семантично, кроссбраузерно и&nbsp;pixel-perfect</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-layer-group"></i>
				<p>Использую актуальные фреймворки, библиотеки и&nbsp;инструменты</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-magic"></i>
				<p>Реализую адаптивный интерфейс и&nbsp;анимации</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-align-left"></i>
				<p>Соблюдаю единый стиль кода</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-sync-alt"></i>
				<p>Оптимизирую, тестирую и&nbsp;рефакторю</p>
			</div>
			<div class="skills-feature-item fade-in">
				<i class="fas fa-tasks"></i>
				<p>Планирую и&nbsp;декомпозирую задачи</p>
			</div>
		</div>
	</div>

	<div class="right">
		<div class="skills-list accordion" id="skillsAccordion">

			<!-- Логика -->
			<div class="skill-category item fade-in" aria-expanded="true">
				<button class="skill-category-btn" aria-expanded="true">
					<span>Логика</span>
					<i class="fas fa-chevron-right chev"></i>
				</button>
				<div class="skill-items panel">
					<div class="skill-items__wrap inner">
						<div class="skill-item"><i class="fab fa-js"></i>
							<p>JavaScript</p>
						</div>
						<div class="skill-item"><i class="fab fa-vuejs"></i>
							<p>Vue</p>
						</div>
						<div class="skill-item"><i class="fab fa-js"></i>
							<p>jQuery</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Разметка -->
			<div class="skill-category item fade-in" aria-expanded="false">
				<button class="skill-category-btn" aria-expanded="false">
					<span>Разметка</span>
					<i class="fas fa-chevron-right chev"></i>
				</button>
				<div class="skill-items panel">
					<div class="skill-items__wrap inner">
						<div class="skill-item"><i class="fab fa-html5"></i>
							<p>HTML5</p>
						</div>
						<div class="skill-item"><i class="fas fa-file-code"></i>
							<p>Blade</p>
						</div>
						<div class="skill-item"><i class="fas fa-code"></i>
							<p>Pug</p>
						</div>
						<div class="skill-item"><i class="fas fa-vector-square"></i>
							<p>SVG</p>
						</div>

					</div>
				</div>
			</div>

			<!-- Стили -->
			<div class="skill-category item fade-in" aria-expanded="false">
				<button class="skill-category-btn" aria-expanded="false">
					<span>Стили</span>
					<i class="fas fa-chevron-right chev"></i>
				</button>
				<div class="skill-items panel">
					<div class="skill-items__wrap inner">
						<div class="skill-item"><i class="fab fa-css3-alt"></i>
							<p>CSS3</p>
						</div>
						<div class="skill-item"><i class="fab fa-sass"></i>
							<p>Sass</p>
						</div>
						<div class="skill-item"><i class="fab fa-less"></i>
							<p>Less</p>
						</div>
						<div class="skill-item"><i class="fab fa-bootstrap"></i>
							<p>Bootstrap</p>
						</div>
						<div class="skill-item"><i class="fas fa-wind"></i>
							<p>Tailwind</p>
						</div>
						<div class="skill-item"><i class="fas fa-project-diagram"></i>
							<p>GSAP</p>
						</div>
						<div class="skill-item"><i class="fas fa-diagram-project"></i>
							<p>BEM</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Утилиты -->
			<div class="skill-category item fade-in" aria-expanded="false">
				<button class="skill-category-btn" aria-expanded="false">
					<span>Утилиты</span>
					<i class="fas fa-chevron-right chev"></i>
				</button>
				<div class="skill-items panel">
					<div class="skill-items__wrap inner">
						<div class="skill-item"><i class="fab fa-git-alt"></i>
							<p>Git</p>
						</div>
						<div class="skill-item"><i class="fab fa-npm"></i>
							<p>npm</p>
						</div>
						<div class="skill-item"><i class="fab fa-node-js"></i>
							<p>Node</p>
						</div>
						<div class="skill-item"><i class="fab fa-docker"></i>
							<p>Docker</p>
						</div>
						<div class="skill-item"><i class="fas fa-bolt"></i>
							<p>Vite</p>
						</div>
						<div class="skill-item"><i class="fab fa-gulp"></i>
							<p>Gulp</p>
						</div>
						<div class="skill-item"><i class="fas fa-cubes"></i>
							<p>Webpack</p>
						</div>
						<div class="skill-item"><i class="fab fa-yarn"></i>
							<p>Yarn</p>
						</div>
						<div class="skill-item"><i class="fas fa-check-double"></i>
							<p>ESLint</p>
						</div>
						<div class="skill-item"><i class="fas fa-paint-brush"></i>
							<p>Prettier</p>
						</div>
						<div class="skill-item"><i class="fas fa-layer-group"></i>
							<p>Babel</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Разное -->
			<div class="skill-category item fade-in" aria-expanded="false">
				<button class="skill-category-btn" aria-expanded="false">
					<span>Разное</span>
					<i class="fas fa-chevron-right chev"></i>
				</button>
				<div class="skill-items panel">
					<div class="skill-items__wrap inner">
						<div class="skill-item"><i class="fas fa-code"></i>
							<p>PHP</p>
						</div>
						<div class="skill-item"><i class="fab fa-figma"></i>
							<p>Figma</p>
						</div>
						<div class="skill-item"><i class="fas fa-image"></i>
							<p>Photoshop</p>
						</div>
						<div class="skill-item"><i class="fas fa-tshirt"></i>
							<p>Tilda</p>
						</div>
						<div class="skill-item"><i class="fab fa-wordpress"></i>
							<p>WordPress</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="right__btns fade-in navigation-btns">
			<button class="btn-main" data-open-tab="about">
				<i class="fa fa-arrow-left"></i> Обо мне
			</button>
			<button class="btn-main" data-open-tab="portfolio">
				Портфолио <i class="fa fa-arrow-right"></i>
			</button>
		</div>
	</div>
</section>