.slider {
	position: relative;
	width: 200px;
	height: 100px;
}

.slider i {
	font-size: 100px;
	color: #3d3d3d;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;

	@media screen and (max-width:767px) {
		font-size: 70px;
	}
}

.slider i.active {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.2);
}
