.home {
	.left {
		background-color: #1a1a1a;
		.left-title {
			font-size: 64px;
			line-height: 128%;
			font-weight: 400;
			margin-bottom: 50px;
			@media screen and (max-width: 767px) {
				font-size: 46px;
			}
			@media screen and (max-width: 500px) {
				font-size: 36px;
			}
			.hand-hello {
				animation: 4s cubic-bezier(.4, 0, .2, 1) infinite hello;
			}
			.left-title {
				&__hello {
					white-space: nowrap;
					display: flex;
					align-items: center;
					gap: 10px;
					p {
						display: inline;
					}
				}
			}
		}
		.btn-main {
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			gap: 10px;
			@media screen and (max-width:500px) {
				font-size: 1.3rem;
			}
			&.btn-portfolio {
				margin-bottom: 10px;
			}
		}
	}
	.right {
		background-color: #242424;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			max-width: 300px;
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width:500px) {
		.hand-hello {
			width: 40px;
			height: 40px;
		}
	}
}
@keyframes hello {
	0%,
	72%,
	to {
		transform: rotate(8deg) translate3d(2px, 0, 0);
	}
	12%,
	60% {
		transform: rotate(-12deg) translate3d(-3px, 0, 0);
	}
	24% {
		transform: rotate(16deg) translate3d(4px, 0, 0);
	}
	36% {
		transform: rotate(-16deg) translate3d(-4px, 0, 0);
	}
	48% {
		transform: rotate(12deg) translate3d(3px, 0, 0);
	}
}
