main {
	display: flex;
	flex-direction: column;
	margin-left: 100px; /* ширина nav */
	@media(max-width: 768px) {
		padding-top: 60px; // тут в зависимости от высоты header
		margin-left: 0;
	}
}

section {
	padding: 20px;
	display: flex;
	@media screen and (max-width:500px) {
		padding: 10px;
	}
}
